<body>
<script>
  setTimeout(() =>
  {
    document.documentElement.dataset.blocked = true;

    let elem = document.createElement("div");
    elem.id = "hide-if-contains";
    elem.innerHTML = "Target";
    document.body.appendChild(elem);
  }, 100);
</script>
</body>
